@font-face {
    src: url(digital-7.ttf);
    font-family: digital;
}

body { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(80px, auto);
    place-items: center;
    width: 380px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.display {
    grid-column: span 4;
    width: 350px;
    height: 90px;
    background-color: rgb(167, 175, 124);
    margin: 12px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: overpass;
    color:black;
    padding-top: 10px;
    font-family: digital;
    font-weight: 100;
    font-size: 4.5em;
    text-align: right;
}

button {
    width: 80px;
    height: 80px;
    margin: 5px;
    padding: 30px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    color: white;
    font-weight: 300;
}

.number, .operator, .dot {
    background: linear-gradient(90deg, #2d2d2d, #4d4d4d);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1),
      10px 5px 10px rgba(0, 0, 0, 0.15);
}

.number:active {
    transform: translateY(4px);
    }

.operator:active {
    transform: translateY(4px);
    }

.dot:active {
    transform: translateY(4px);
}

.clear {
    grid-column: span 2;
    width: 170px;
    height: 80px;
    background-color: rgb(245, 72, 72);
    background: linear-gradient(90deg, #d20000, #e37070f2);
}

.clear:active {
    transform: translateY(4px);   
}

.sum {
    grid-row: span 2;
    width: 80px;
    height: 170px;
}

.result {
    background-color: rgb(51, 143, 216);
    background: linear-gradient(90deg, #0a74cc, #718bbdfd);
}
     
.result:active {
    transform: translateY(4px);
}


